@import '../../../styles/variables.scss';

.updatetask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(50, 50, 50, 0.5); z-index: 999; display: none;
  &__isShow { display: block; }
}